*{

    margin: 0;
    padding: 0;
}

body{

  font-family: "Poppins", sans-serif;
  font-style: normal;


}




nav{

    background-color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}


nav ul li{

    display: inline;
}
nav ul li a {

    padding: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(222, 215, 215);
    font-weight: 500;
    transition: .3s;
    border-radius: 30px;
    margin: 1px 10px ;
    
}
nav ul li a:hover{

    color: rgb(228, 223, 222);
    transition: .3s;
    background-color: rgb(48, 56, 56);
    border-radius: 30px;
    
}
footer{
text-align: center;
}
.logo {
    width: 150px;
    
}
.logo img{

    width: 100%;
    height: 100%;
    
}

 .banner{

  
    background: url(media/banner/desktop-banner-final.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:700px;
   

}





.container-home{

 
   background:linear-gradient(rgb(18, 18, 18),rgb(44, 43, 43));
    padding: 10px 40px;
}

.container-home h1{

    color: rgb(233, 230, 229);
    margin-bottom: 20px;
    font-size: 2.5rem;
 
}

.container-home p{

    font-size: 1.2rem;
    font-weight: 500;
    color: #918c8c;
    text-align: justify;
    
}


.card-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px;
 
}
.card-container .card{

    width: 27vw;
    justify-items: center;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(72, 69, 69);
    
}

.card-container .card .card-image-container{

    width: 100%;
    height: 50vh;
}
.card-container .card .card-image-container img{

    width:100%;
    height: 100%;
    object-fit: cover;
       overflow: hidden;
}
.card-container .card .context{

    margin-top: 20px;
    padding: 15px;

}
.card-container .card .context h3{

    font-size: 1.3rem;
    margin-bottom: 20px;
    color: rgb(239, 242, 246);
}
.card-container .card .context p{

    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
}
.card-container .card .context button{

     
     background-color: rgb(210, 8, 8);
    padding: 10px;
     border-radius: 20px;
     color: white;
     border: none;
     transition: .3s;
      
}
.card-container .card .context button:hover{

    box-shadow: -10px 2px 5px rgb(57, 56, 56);
    transform: translateX(10px);
    transition: .3s;
}

.container-aboutus{

    background:linear-gradient(rgb(18, 18, 18),rgb(44, 43, 43));
 
   padding: 30px;
    
}
.container-about{

    padding: 10px;
    box-shadow: 0 5px 15px rgb(31, 33, 33);
    border-radius: 10px;
   
}
.container-about h1{

    font-size: 2.3rem;
    color: white;
}
.container-about p{

     text-align: justify;
    font-size: 1.1rem;
    font-weight: 500;
    color: #d6d1d1;
}
.form-container {

     background:linear-gradient(rgb(18, 18, 18),rgb(44, 43, 43));
    padding: 10px;
    height: 110vh;
   
}

.form-container .form-group{

    
    align-items: center;
   display: flex;
    margin: 10px;
    justify-content:space-between ;
}

.form-container .form-group label{

    font-weight: 550;
    color: #f9efef;

    
}
.form-container .form-group textarea{
   
    resize: none;
    height: 20vh;
      
    
}
.form-container .form-group {

    select{

          color: rgb(22, 21, 21);
           

    }

   
}
.form-container .form-group input,textarea, select,textarea{

   
    outline-color: rgb(79, 81, 84);
    color: rgb(20, 22, 22);
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
     box-shadow: 0 2px 8px rgb(36, 35, 35);
    border: none;
    background-color: rgb(223, 215, 215);
    border-radius: 5px;
    
}

.form-container .button-container button{

    
   float: right;
   border-radius: 5px;
     background-color: rgb(230, 49, 49);
    padding: 10px;
    width: 100px;
    border: none;
    font-weight: 500;
    color: white;
     transition: .3s;
}

.form-container .button-container button:hover{

    transform: scale(1.04);
    transition: .3s;
    box-shadow: 0 5px 7px rgb(7, 55, 92);
}
.form-container .button-container{
   
    justify-items: end;
    margin: 10px;
}

footer{

    color: aliceblue;
    padding: 30px;
    background-color: rgb(33, 33, 33);
}

@media only screen and (max-width:600px){



    nav{

        flex-direction: column;
        padding: 0;
    }
    nav ul li{

        display: block;
        padding: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(54, 45, 45);
        padding-top: 10px;
        text-align: center;
    }
   nav ul {

        width: 100%;
        padding-bottom: 10px ;
          
    }
    nav ul li a:hover{

    color: rgb(94, 90, 89);
    transition: .3s;
    background-color: transparent;
    border-radius: 30px;
    
}

.logo{

    margin-top: 10px;
}
     .banner{

        background: url(media/banner/mobile-banner-final.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 800px;
     }
   .content-container{

        flex-direction: column-reverse;

    }
   .card-container .card{
                      
        width: 100%;
        margin: 50px 10px;
        justify-items: center;

    }
   .card-container {

        display: block;
        width: 100%;
        margin: 0;
        justify-items: center;

    }
    .card-container .card .card-image-container img{

        width:100%;

    }  
            
   .form-container {

    height: 150vh;
   }
    .form-container .form-group {
 
        display: block;
       
    }

    .form-container .form-group input,select,textarea{

        width: 100%;

    }
      .form-container .button-container button{

        width: 100%;
        justify-self: center;
      }

   
       
      .container-about h1{

    font-size: 1.5rem;
}
        }


